<!DOCTYPE HTML>
<html>
  <head>
    <title>Bienvenido a la aplicacion del Primer Dockercise</title>
    <style type="text/css">
      body {
        background: black;
        color: white;
      }
      div.container {
        max-width: 500px;
        margin: 100px auto;
        padding: 10px;
        text-align: center;
      }
      h3 {
        text-transform: uppercase;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <p>Todos los Datos <a href="people">click</a> para continuar!</p>
    </div>
  </body>
</html>